if SHIELD_DAEMONSPLIT_LEFT

config ZMK_KEYBOARD_NAME
    default "DaemonSplit"

config ZMK_SPLIT_ROLE_CENTRAL
    default y

endif # SHIELD_DAEMONSPLIT_LEFT

if SHIELD_DAEMONSPLIT_LEFT || SHIELD_DAEMONSPLIT_RIGHT

config ZMK_SPLIT
    default y

endif # SHIELD_DAEMONSPLIT_LEFT || SHIELD_DAEMONSPLIT_RIGHT
